{{!-- <div style = "display: none;" class ="check_completed">{{completed}}</div> --}}
<div style = "display: none;" class ="check_value">{{loadpopup}}</div>

{{!-- ΠΡΟΣΘΗΚΗ ΤΟΥΡΝΟΥΑ --}}
<div class = "popup" id = "addTournament">
    <div class = "modal-container"> 
        <div class = "modal"  style = "min-width: 70%;"> 
            <div class = "button_row row m-0 p-0"> 
                <button class = "close col-1 p-0">
                </button> 
            </div>
            <form class = "form" method= "GET" enctype="multipart/form-data" action= "/tournaments/addTournamentToDB">
                <div class = "inputs col m-0">
                    <div class="title row m-0 p-0"> 
                        <h1 style = "font-size: 32px;">
                            ΝΕΟ ΤΟΥΡΝΟΥΑ
                        </h1> 
                    </div>
                    <div class = "row">
                        <div class = "col-6">
                            <div class = "field row mb-4 p-0">
                                <label for = "title" class = "field_name col-7 p-0"> Τίτλος: </label>
                                <input type="text" name="title" class = "field_input col-7 p-0">
                            </div>
                            <div class = "field row mb-4 p-0">
                                <label for = "startdate" class = "field_name col-7 p-0"> Έναρξη: </label>
                                <input type="date" name="startdate" class = "field_input col-7 p-0">
                            </div>
                            <div class = "field row mb-4 p-0">
                                <label for = "enddate" class = "field_name col-7 p-0"> Λήξη: </label>
                                <input type="date" name="enddate" class = "field_input col-7 p-0">
                            </div>
                            <div class = "field row mb-4 p-0"> 
                                <label for = "skilllevel" class = "field_name col-7 p-0"> Επίπεδο: </label>
                                <input type="integer" name="skilllevel" class = "field_input col-7 p-0">
                            </div>
                        </div>
                        <div class = "col-6">
                            <div class = "field row mb-4 p-0"> 
                                <label for = "agerestrictions" class = "field_name col-7 p-0"> Ηλικιακές ομάδες: </label>
                                <input type="integer" name="agerestrictions" class = "field_input col-7 p-0">
                            </div>
                            <div class = "field row mb-4 p-0"> 
                                <label for = "details" class = "field_name col-7 p-0"> Περιγραφή: </label>
                                <textarea name="details" rows="3" class = "field_input col-7 p-0"></textarea>
                            </div>
                            <div class = "field row mb-4 p-0"> 
                                <label for = "poster" class = "field_name col-7 p-0"> Πόστερ: </label>
                                <input name="poster" style = "max-height: 25.5px;" type="file" accept="image/png, image/jpeg, image/jpg" class = "field_input col-7 p-0">
                                <div style = "font-size: 15px; margin-top:10px;" class = "field_name col-7 p-0">
                                    Για να γίνει επιτυχές ανέβασμα ενός πόστερ, παρακαλώ επιλέξτε αρχεία που να βρισκονται στον φάκελο Public του υπολογιστή σας (στο path C:\Users\Public).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type = "submit" class = "submit"> 
                    Προσθήκη τουρνουά
                </button>
            </form>
        </div>
    </div>
</div>


{{!-- ΔΙΑΓΡΑΦΗ ΤΟΥΡΝΟΥΑ --}}
<div class = "popup" id = "deleteTournament">
    <div class = "modal-container"> 
        <div class = "modal"  style = "min-width: 70%;"> 
            <div class = "button_row row m-0 p-0"> 
                <button class = "close col-1 p-0">
                </button> 
            </div>
            <form class = "form" method= "GET" enctype="multipart/form-data" action= "/tournaments/deleteTournamentFromDB">
                <div class = "inputs col m-0">
                    <div class="title row m-0 p-0"> 
                        <h1 style = "font-size: 32px;">
                            ΔΙΑΓΡΑΦΗ ΤΟΥΡΝΟΥΑ
                        </h1>
                    </div> 
                        <div class = "field row mb-3 p-0"> 
                            <label for = "tournamentid" class = "field_name col-7 p-0">Επέλεξε το τουρνουά που θέλεις να διαγράψεις:</label>
                            <select name="tournamentid" class = "field_input col-5 p-0" style = "margin-top:20px;">
                                {{#each tournaments}}
                                    <option value = {{tournamentid}}>"{{title}}" &nbsp;&nbsp;&nbsp; {{startdate}} - {{enddate}}</p></option>
                                {{/each}}
                            </select>
                    </div>
                </div>
                <button type = "submit" class = "submit"> 
                    Διαγραφή τουρνουά
                </button>
            </form>
        </div>
    </div>
</div>


{{!-- ΔΙΑΓΡΑΦΗ ΜΗΝΑ --}}
<div class = "popup" id = "deleteMonth">
    <div class = "modal-container"> 
        <div class = "modal"  style = "min-width: 70%;"> 
            <div class = "button_row row m-0 p-0"> 
                <button class = "close col-1 p-0">
                </button> 
            </div>
            <form class = "form" method= "GET" enctype="multipart/form-data" action= "/tournaments/deleteMonthFromDB">
                <div class = "inputs col m-0">
                    <div class="title row m-0 p-0"> 
                        <h1 style = "font-size: 32px;">
                            ΔΙΑΓΡΑΦΗ ΜΗΝΑ (ΚΑΙ ΤΩΝ ΤΟΥΡΝΟΥΑ ΠΟΥ ΠΕΡΙΕΧΕΙ)
                        </h1>
                    </div> 
                        <div class = "field row mb-3 p-0"> 
                            <label for = "monthid" class = "field_name col-7 p-0">Επέλεξε το τουρνουά που θέλεις να διαγράψεις:</label>
                            <select name="monthid" class = "field_input col-5 p-0" style = "margin-top:20px;">
                                {{#each months}}
                                    <option value = {{monthid}}>{{monthname}}</p></option>
                                {{/each}}
                            </select>
                    </div>
                </div>
                <button type = "submit" class = "submit"> 
                    Διαγραφή μήνα
                </button>
            </form>
        </div>
    </div>
</div>


{{!-- ΕΠΕΞΕΡΓΑΣΙΑ ΤΟΥΡΝΟΥΑ --}}
<div class = "popup" id = "editTournamentSelect">
    <div class = "modal-container"> 
        <div class = "modal"  style = "min-width: 70%;"> 
            <div class = "button_row row m-0 p-0"> 
                <button class = "close col-1 p-0">
                </button> 
            </div>
            <form class = "form" method= "GET" enctype="multipart/form-data" action= "/editTournamentSelect">
                <div class = "inputs col m-0">
                    <div class="title row m-0 p-0"> 
                        <h1 style = "font-size: 32px;">
                            ΕΠΕΞΕΡΓΑΣΙΑ ΤΟΥΡΝΟΥΑ
                        </h1>
                    </div> 
                        <div class = "field row mb-3 p-0"> 
                            <label for = "tournamentid" class = "field_name col-7 p-0">Επέλεξε το τουρνουά που θέλεις να επεξεργαστείς:</label>
                            <select name="tournamentid" class = "field_input col-5 p-0" style = "margin-top:20px;">
                                {{#each tournaments}}
                                    <option value = {{tournamentid}}>"{{title}}" &nbsp;&nbsp;&nbsp; {{startdate}} - {{enddate}}</p></option>
                                {{/each}}
                            </select>
                    </div>
                </div>
                <button type = "submit" class = "submit"> 
                    Επεξεργασία τουρνουά
                </button>
            </form>
        </div>
    </div>
</div>

<div class = "popup" id = "editTournament">
    <div class = "modal-container"> 
        <div class = "modal"  style = "min-width: 70%;"> 
            <div class = "button_row row m-0 p-0"> 
                <button class = "close col-1 p-0">
                </button> 
            </div>
            <form class = "form" method= "GET" enctype="multipart/form-data" action= "/tournaments/editTournamentAtDB">
                <div class = "inputs col m-0">
                    <div class="title row m-0 p-0"> 
                        <h1 style = "font-size: 32px;">
                            ΕΠΕΞΕΡΓΑΣΙΑ
                        </h1> 
                    </div>
                    <div class = "row">
                        <div class = "col-6">
                            <input type="text" style = "display: none;" name="tournamentid" class = "field_input col-7 p-0" value = {{selected.tournamentid}}>
                            <div class = "field row mb-4 p-0">
                                <label for = "title" class = "field_name col-7 p-0"> Τίτλος:<span style = "color:red">*</span> </label>
                                <input type="text" name="title" class = "field_input col-7 p-0" value = {{selected.title}}>
                            </div>
                            <div class = "field row mb-4 p-0">
                                <label for = "startdate" class = "field_name col-7 p-0"> Έναρξη:<span style = "color:red">*</span> </label>
                                <input type="date" name="startdate" class = "field_input col-7 p-0" value = {{selected.startdate}}>
                            </div>
                            <div class = "field row mb-4 p-0">
                                <label for = "enddate" class = "field_name col-7 p-0"> Λήξη:<span style = "color:red">*</span> </label>
                                <input type="date" name="enddate" class = "field_input col-7 p-0" value = {{selected.enddate}}>
                            </div>
                            <div class = "field row mb-4 p-0"> 
                                <label for = "skilllevel" class = "field_name col-7 p-0"> Επίπεδο: </label>
                                <input type="integer" name="skilllevel" class = "field_input col-7 p-0" value = {{selected.skilllevel}}>
                            </div>
                        </div>
                        <div class = "col-6">
                            <div class = "field row mb-4 p-0"> 
                                <label for = "agerestrictions" class = "field_name col-7 p-0"> Ηλικιακές ομάδες: </label>
                                <input type="integer" name="agerestrictions" class = "field_input col-7 p-0" value = {{selected.agerestrictions}}>
                            </div>
                            <div class = "field row mb-4 p-0"> 
                                <label for = "details" class = "field_name col-7 p-0"> Περιγραφή: </label>
                                <textarea name="details" rows="3" class = "field_input col-7 p-0">{{selected.details}}</textarea>
                            </div>
                            <div class = "field row mb-4 p-0"> 
                                <label for = "poster" class = "field_name col-7 p-0"> Πόστερ: </label>
                                <input name="poster" style = "max-height: 25.5px;" type="file" accept="image/png, image/jpeg, image/jpg" class = "field_input col-7 p-0" value = {{selected.poster}}>
                                <div style = "font-size: 15px; margin-top:10px;" class = "field_name col-7 p-0">
                                    Για να γίνει επιτυχές ανέβασμα ενός πόστερ, παρακαλώ επιλέξτε αρχεία που να βρισκονται στον φάκελο Public του υπολογιστή σας (στο path C:\Users\Public).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type = "submit" class = "submit"> 
                    Επεξεργασία
                </button>
            </form>
        </div>
    </div>
</div>

<div class = "tournaments_main row p-0 m-0">
    <div class = "tournaments_card p-0">
        <div class = "tournaments_banner_title row m-0 p-0">
            <div>
                <h1>
                    ΤΟΥΡΝΟΥΑ
                </h1>
                <h4>
                    Επερχόμενα Τουρνουά ┃ VILLIA TENNIS CLUB
                </h4>
            </div>
        </div>
        <div class = "tournaments_banner_subtitle row m-0 p-0"> 
            <div class = "title row"> 
                <h1>
                    Λίγα λόγια για τα τουρνουά μας...
                </h1>
            </div>
            <div class = "subtitle row"> 
                <p>
                    Το κλαμπ μας διοργανώνει τουρνουά τένις σε τακτά χρονικά διαστήματα, τα οποία πραγματοποιούνται στις εγκαταστάσεις μας. Όλα τα μέλη μας,
                    ανεξαρτήτως ηλικίας, εμπειρίας ή επιπέδου δεξιοτήτων, μπορούν να συμμετέχουν στα τουρνουά μας. Στα τουρνουά μπορούν να πάρουν μέρος και άτομα
                    που δεν αποτελούν μέλη του κλαμπ μας, αλλά θέλουν μόνο να συμμετέχουν στους αγώνες (τα μη μέλη συνήθως έχουν πρόσβαση σε συγκεκριμένα τουρνουά).<br>
                    Με λίγα απλά βήματα θα μπρορέσετε κι εσείς να πάρετε μέρος σε ένα από τα τουρνουά μας!<br>
                    Αρχικά θα χρειαστεί να φτιάξετε λογαριασμό στο σάιτ μας. Μετά, το μόνο που χρειάζεται είναι να επιλέξετε ένα από τα επερχόμενα τουρνουά που
                    θα βρείτε στο ημερολόγιο-τουρνουά στο τέλος της σελίδας και να συμπληρώσετε με τα στοιχεία σας την φόρμα που θα σας δωθεί στην συνέχεια.<br>  
                </p>
            </div>
        </div>
        <div class = "tournaments_info row m-0 p-0"> 
            <div class = "tournaments_info_banner row m-0 p-0"> 
                <h1>ΕΠΕΡΧΟΜΕΝΑ ΤΟΥΡΝΟΥΑ</h1>
            </div>

            <div class = "tournament_rows"> 

            </div>

            <div class = "buttons row m-0"> 

            </div>
        </div>
        <div class = "tournaments_info row m-0 p-0"> 
            <div class = "tournaments_info_banner row m-0 p-0"> 
                <h1>ΣΥΜΜΕΤΟΧΗ ΣΕ ΤΟΥΡΝΟΥΑ</h1>
            </div>
            <div>Κάνε κλικ σε έναν από τους τους τίτλους των διαθέσιμων τουρνουά για να δηλώσεις συμμετοχή!</div>
            <div class = "board_row m-0">
                <table class = "board">
                    <p style ="text-align:center; padding: 20px;">Πίνακας Τουρνουά</p>
                    <tr id="board_headers">
                        <th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    {{#each tournaments}}
                        <tr id = {{tournamentid}}>
                                <td id = "cell_date">{{startdate}}</td>
                                <td id = "cell_date">{{enddate}}</td>
                                <td><a href="/selectedTournament?tournamentid={{tournamentid}}" style = "text-decoration: none;">{{title}}</a></td>
                                <td>{{skilllevel}}</td>
                                <td>{{agerestrictions}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div> 
        </div>
    </div>
</div>

<script type = "application/javascript" src = "/tournamentsMain.cjs"> </script>

{{!-- ADMINNNNN --}}
<script type = "application/javascript" src = "/tournamentsAdminMain.cjs"> </script>
{{!-- <script type = "application/javascript" src = "/scripts/tournamentPopup.js"> </script> --}}
{{!-- /ADMINNNNN --}}